setuptools
apache-airflow
openai
wheel
pandas
matplotlib
sqlalchemy
prometheus_client
fastapi
uvicorn
pydantic
stateflow
pillow
google-generativeai
python-dotenv
pyyaml
seaborn
scikit-learn
kaggle
kagglehub
xgboost
flask
flask-cors
autogen