setuptools
apache-airflow
openai
wheel
pandas
matplotlib
sqlalchemy
prometheus_client
fastapi
uvicorn
pydantic
stateflow
pillow
google-generativeai
python-dotenv
pyyaml
seaborn
scikit-learn
kaggle
kagglehub
xgboost
flask
flask-cors
autogen
ipython
autogen-agentchat[retrievechat]~=0.2
unstructured[all-docs]
chromadb<=0.5.0