apache-airflow
openai
pandas
matplotlib
sqlalchemy
prometheus_client
fastapi
uvicorn
pydantic
stateflow
pillow
google-generativeai
python-dotenv
pyyaml
seaborn
kaggle
kagglehub
xgboost
google-generativeai